{% extends "template.html" %}

{% block head %}
<script src="{{ url_for('static', filename='js/changeText.js') }}"></script>
{% endblock %}

{% block breadcrumbs %}
<li class="breadcrumb-item active">Account Management</li>
{% endblock %}

{% block content %}
<h1 class="display-1">{{ user[1] }}</h1>
<hr/>

{% if user[1] != "404 Account not found" %}

<h1 style="margin-top: 2%;">Equations by {{ user[1] }}</h1>

<div class="row">
	<div class="col">
		{% if user[1] == session.name %}
		<a class="text-muted" href="/create/"><h4>Create new equation</h4></a>
		{% endif %}
		<li class="list-group list-group-flush" style="width:75%; margin-top: 3%;">
			{% for equation in equations %}
			<div class="row">
				<ul><a href="/equations/{{ equation[0] }}" class="a h4" onmouseover="changeText('{{ equation[2] }}')">- {{ equation[1] }}</a></ul>
				
				{% if user[1] == session.name %}
				<a href="/delete/{{ equation[0] }}" style="position: absolute; right: 5%;">Delete</a>
				{% endif %}
			</div>
			{% endfor %}
		</li>
	</div>
	<div class="col">
		<div class="col d-flex justify-content-center">
			<table style="height: 100%;">
				<tr>
					<td><h1 class="display-3" id="equation"></h1></td>
				</tr>
			</table>
		</div>
	</div>
</div>

{% if user[1] == session.name %}
<hr/>
<a href="/logout/">Log out</a>
{% endif %}
{% endif %}
{% endblock %}