{% extends "template.html" %}

{% block breadcrumbs %}
{% if equation[2] == -1 %}
<li class="breadcrumb-item"><a href="{{ url_for('predefined_equations') }}">Browse Equations</a></li>
{% else %}
<li class="breadcrumb-item"><a href="{{ url_for('custom_equations') }}">Browse Custom Equations</a></li>
{% endif %}
<li class="breadcrumb-item active">Browse Equations</li>
{% endblock %}

{% block content %}
<h1>
{% if equation %}

<div style="text-align: center;">
	<span class="text-muted">{{ equation[0] }}</span><hr/>
	<span class="display-1" style="margin-top: 5%;">{{ equation[1] }}</span></h1>
</div>

{% else %}

404 Equation not found</h1>

{% endif %}
{% endblock %}